@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
p,
h1,
h2,
.sv-string-viewer {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: 600;
}
